@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	min-width : $container_width + $container_padding;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 10px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid #E3E3E3;
		}
	}
}

/*////// message //////*/
.message-group{
	.message-row{
		margin-top: 20px;
		.message-col{
			float : left;			
			.image{
				img{ max-width : 100%; height : auto; }
			}
		}
		.message-col:first-child{
			margin-left: 0px;
		}
		/* mesage-col */
		.message-col370{
			width: 370px;
			margin-left: 20px;
			border: 1px solid #c8c8c8;
			padding: 10px;
		}
		.message-col240{
			width: 240px;
			margin-left: 20px;
		}
		.message-col190{
			width: 190px;
			margin-left: 0px;
		}
		.message-col110{
			width: 110px;
			margin-left: 20px;
		}		
		
	}
	.message-row:first-child{
		margin-top: 0px;
	}	
}

.message-right{
	.text{
		float : right;
	}
	.image{
		float : left;
		margin-right: 20px;
	}
}	
.message-left{
	.text{
		float : left;
	}
	.image{
		float : right;
		margin-left: 20px;
	}
}

.message-280{
	.text{
		width: 460px;
	}
	.image{
		width: 280px;
	}
}

.message-340{
	.text{
		width: 400px;
	}
	.image{
		width: 340px;
	}
}
.message-360{
	.text{
		width: 380px;
	}
	.image{
		width: 360px;
	}	
}

/*--------------------------------------------------------------
LIST
----------------------------------------------------------------*/
.list-fa-caret{
	margin : 0px;
	padding : 0px;
	list-style : none;
	i.fa{
		margin-right : 5px;
	}
}
.list-inline{
	li{
		float : left;
		margin-left: 10px;
	}
	li:first-child{
		margin-left: 0px;
	}
}

/*---------------------------------------------------------------
CUSTOM CSS
-----------------------------------------------------------------*/

#top{
	background : $main_color none no-repeat 0 0 scroll;
	color : #fff;
	a{ color : #fff; }
	line-height : 30px;
	a{ line-height : 30px; }

	.top-text{
		float : left;
		font-size: 15px;
		padding-top: 7px;
	}
	.top-list{
		float : right;
		list-style: none;
		padding : 0px;
		margin : 0px;
		i.fa{ margin-right : 3px; }
		li{
			float : left;
			margin-left: 15px;
			a{
				display : block;
				text-decoration: underline;
			}
			a:hover{
				text-decoration: none;
			}
		}
		li:first-child{ margin-left : 0px; }
	}	
}/* end top */

header{
	.header-content{
		margin : 20px 0px 15px;
		.logo{
			float : left;
			margin-left: 20px;
		}
		.header-con{
			margin-left: 165px;
			float : left;
			margin-top: 20px;
		}
		.header-tel{
			float : right;
		}
	}
}/* end header */

#content{
	background : transparent url("../img/common/content_bg.jpg") repeat 0 0 scroll;
}
.content{
	position : relative;
	
	padding : 10px 0px 40px;
}


/*//////// Sidebar commmon ////////////*/
/* begin sideMenu */
/* sideMenu.css */
#sideMenu{
	h4{
		background: $main_color;
		color: #FFF;			
		line-height: 40px;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;				
	}	
	.sideMenu{
		margin : 0px auto;
		background : transparent url("../img/common/sideMenu_bg.jpg") no-repeat 0 0 scroll;
		height: 300px;
		border : 1px solid #DDDDDD;
		ul{
			margin : 0px;
			padding : 0px;
			list-style: none;		
			li{
				a{
					background : transparent none no-repeat 0 0 scroll;
					padding-left : 15px;
					display: block;
					line-height: 30px;
					border-top: 1px dotted #DDDDDD;
					margin-left: 60px;			
					padding-left: 20px;
				}
				a:hover{
					color: $sub_color1;
				}			
			}
			li:first-child a{
				border-top : none;
			}
		}
	}
}/* end sideMenu */			
/* begin sideNav */
#sideNav{
	h4{
		background: $main_color;
		color: #FFF;			
		line-height: 40px;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;				
	}
	.sideNav{
		margin : 0px;
		padding : 5px;		
		background-color : $border_color;	
		ul{
			margin : 0px;
			padding : 0px;
			list-style: none;
			li{
				margin-top: 5px;
				a{
					padding-left : 30px;
					line-height : 40px;	
					font-size: 14px;
					background-color : #FFF;			
					border-left : 10px solid $main_color;
					display : block;
					color : $text_color;				
					font-weight: bold;
				}
				a:hover{
					border-color : $sub_color1;
				}
			}
			li:first-child{
				margin-top : 0px;
			}
		}
	}
}/* end sideNav */

#content{
	
}

footer{
	background : transparent url("../img/common/footer_bg.jpg") repeat 0 0 scroll;
	padding : 30px 0px 20px;	
	
	.footer-content{		
		.logo{
			float : left;
			margin-right: 95px;
		}
		.tel{
			float : left;
		}
		.con{
			float : right;
		}
	}

	.footer-line{
		background : transparent url("../img/common/footer_line.jpg") no-repeat 0 0 scroll;
		height: 2px;
		margin : 25px 0px;
	}

	.footer-menu{
		margin-bottom: 50px;
		ul{
			padding-right : 0px;
			padding-left : 90px;
			list-style: none;
			.fa{
				color: $sub_color1;
				margin-right: 5px;
			}
		}
		ul:first-child{
			padding-left : 0px;
		}
	}
}