@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/*////// heading //////*/
h1{

}
.h2_title{
	font-size : 18px;
	line-height : 52px;
	padding-left : 52px;
	background : transparent url('../img/common/h2_title.jpg') no-repeat 0 0 scroll;
	margin-bottom : 15px;
}
.message_content_title{
	color : $sub_color1;
	background : transparent url('../img/common/message_content_title.jpg') no-repeat 0 0 scroll;
	font-weight : bold;
	font-size : 18px;
	line-height : 52px;	
	margin-bottom : 15px;
}
.message_content_col_title{
	color : $sub_color1;
	background : transparent url('../img/common/message_content_col_title.jpg') no-repeat 0 0 scroll;
	font-weight : bold;
	font-size : 18px;
	line-height : 33px;	
	margin-bottom : 15px;
}
h4{

}



/*/////////// common parts ////////////*/

/*/////////// globalNavi ////////////*/
.globalNavi-static{	
	border-top : 1px solid #E4E4E4;
	border-bottom : 1px solid #E4E4E4;
	.globalNavi-content{
		ul{
			list-style: none;
			padding : 0px;
			margin : 0px;
			li{
				float : left;
				a{
					display: block;
				}
			}
		}
	}
}
.globalNavi-dynamic{	
	background : $main_color none no-repeat 0 0 scroll;
	.globalNavi-content{		
		ul{
			list-style: none;
			padding : 0px;
			margin : 0px;
			li{
				float : left;
				a{
					color: #fff;
					display: block;
					margin: 5px 30px;
					padding: 5px 0px;					
					span{
						display: block;
						text-align: center;						
					}
					span.first{  }
					span.second{

					}
				}				
				a:hover{
					background-color : $sub_color1;
					@include border_radius(5px);
				}
			}
		}
	}
}
/*/////////// feature ////////////*/
#feature{
	position : relative;
	margin-bottom : 80px;
	.headerbtn{
		width: 100%;				
		position : absolute;
		bottom: -70px;
		.headerbtn-content{
			padding : 10px;
			background-color : #7CC148;
			ul{
				list-style: none;
				padding : 0px;
				margin : 0px;
				li{
					float : left;
					margin : 0px 3px;					
					a{
						display: block;
						img{
							width: 200px;
							height: 70px;
						}						
					}
				}
			}
		}
	}
}
.dark-tooltip{
	width : 200px;	
}

#page-feature{	
	background : transparent url("../img/common/page_feature_bg.jpg") repeat 0 0 scroll;
	.page-feature-content{
		padding : 20px 0px 10px 25px;
		position : relative;
		.title{
			line-height: 162px;
			left : 200px;
			top : 0px;
			position : absolute;
		}
	}
	padding-bottom : 2px;
}

#breadcrumb{	
	background : transparent url("../img/common/breadcrumb_bg.jpg") repeat-x 0 0 scroll;	
	height : 34px;
	line-height : 34px;	
	padding-left: 145px;
	a.home{
		text-decoration: underline;
		color: #59b118;
	}
	
}

/*/////////// maintop ////////////*/
#maintop{
	padding : 15px 0px;
	p{ margin-top : 20px; }
	p:first-child{ margin-top : 0px; }
}
#mainslide{
	background: transparent url("../img/top/mainslide_bg.jpg") repeat-x 0 0 scroll;
	padding : 15px 0px 20px;
	.mainslide-content{		
		.bx-wrapper{
			margin : 0px auto;
			img{
				height: 350px;
			}
		}	
		.bx-viewport{
			left : 0px;
			box-shadow : none;
			/*border : none;*/
		}
		.bx-pager{ display : none; }
		#bx-pager{
			text-align: center;
			background : $main_color none no-repeat 0 0 scroll;
			padding : 10px 0px;
			a{
				margin : 0px 3px;
				img{
					width: 200px;
					height: 70px;
				}
			}
		}
		.bx-controls-direction .bx-prev{
			position: absolute;			
			left : -64px;
		}
		.bx-controls-direction .bx-next{
			position: absolute;			
			right : -64px;
		}		
	}
}

/*/////////// side-con ////////////*/
.side-con{
	position : relative;
	.side-con-btn{
		position : absolute;
		bottom : 10px;
		left : 10px;
	}
}
/*/////////// sideNavi ////////////*/
#sideNavi{
	background : $sub_color2 url("../img/common/sideNavi_bg.jpg") no-repeat 0 0 scroll;
	padding : 48px 10px 10px 10px;
	ul{
		list-style: none;
		padding : 0px;
		margin: 0px;
		li{
			margin-top: 10px;
			a{
				display: block;
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
		li:first-child{
			margin-top: 0px;
		}
	}
}
/*/////////// sideNavi ////////////*/
#sideMenu{
	ul{
		list-style: none;
		padding : 0px;
		margin : 0px;
		li{
			border-top : 1px dotted $border_color;			
			a{
				line-height: 40px;
				display: block;				
				i.fa{
					margin-right: 15px;
					margin-left: 10px;
				}
			}
			a:hover{
				text-decoration: underline;
				color: $sub_color1;
			}
		}
		li:first-child{ border-top : 0px; }
	}
}
/*/////////// part-area ////////////*/
.region ul{
	list-style: none;
	margin : 0px;
	padding: 0px;
}
.region > ul{
	padding : 10px;
}
.region > ul > li > span{
	font-weight: bold;
}
.region > ul > li > ul > li > span{	
	padding-left: 10px;
}
.region ul.region_post_list li{
	display: inline;
	padding-right: 10px;
}
.region{
	.region-category{
		margin-bottom: 10px;
		> span{
		margin-bottom: 5px;
		font-weight: bold;
		color: $sub_color1;
		}
	}
	a:hover{
		text-decoration: underline;
		color: $sub_color1;
	}
}

/* message : title, image, caption, link */
.top-message-classic .message-col{
	padding-right : 3px;
	.image{
		text-align: center;		
	}
	.title{
		color : $sub_color1;
		background : transparent url('../img/common/message_content_col_title.jpg') no-repeat right 1px scroll;
		font-weight : bold;
		font-size : 18px;
		line-height : 33px;	
		margin : 10px 0px 5px;
		border-bottom : 2px solid #E3E3E3;
	}
	.caption{				
		text-align: justify;
		padding : 10px 0px 15px;
		height: 9em;
		line-height: 1.5em;
	}
	.title, .caption{ word-wrap : break-word; }
	.link{
		text-align: right;	
	}
}

/*/////////// part-contact ////////////*/
.part-contact{
	position : relative;
	
	.part-contact-btn{
		position : absolute;
		left : 10px;
		bottom : 10px;
	}
}

/*/////////// index ////////////*/
#top_content1{
	position : relative;
	.text{
		position : absolute;
		bottom : 20px;
		left : 20px;
		height: 120px;
		padding : 30px;
	}
}

/*////////// top-custom-post-work ///////////*/
.top-custom-post-works{
	width : 100%;
	border : none;
	i.fa{
		color: $sub_color1;
	}
	td{		
		padding : 10px 3px;
		border : none;
		border-bottom : 1px dotted #A8A8A8;		
	}
	.category a{
		background-color : $sub_color1;
		color: #fff;
		padding : 5px 10px;
		@include border_radius(5px);
	}
}

/*////////// company ///////////*/
.company_table{
	tr th{
		background-color: #F5F0E8;
		color: $sub_color1;
	}
}

/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
}
/*//////// page-business /////////*/
.business-right{
	.text{
		float : right;		
	}
	.image{
		float : left;
		margin-right: 18px;
	}
}/* end business-right */	

.business-241{
	.text{
		width: 500px;
	}
	.image{
		width: 241px;
	}
}/* end business-241 */

/*//////// page-about /////////*/
$about-text: #215100;
$about-bg: #e3f4d6;
.about-info{
	background-color: $about-bg;
	padding: 10px 0 10px 10px;
	color: $about-text;
	margin: 20px 0;
	font-weight: bold;
}

.about-left{
	.text{
		float : left;		
	}
	.image{
		float : right;
		margin: 15px 0 0 20px;
	}
}/* end about-left */	

.about-280{
	.text{
		width: 460px;
		p.about-text{
			background-color: $about-bg;
			color: $about-text;
			padding: 25px 35px 25px 25px;
			margin: 10px 25px 10px 0;
			font-weight: bold;
		}			
	}
	.image{
		width: 280px;
	}
}/* end about-280 */

.about-text-bottom{
	color: #59b118;
	text-align: center;
	font :{
		weight: bold;
		size: 18px;
	}
	
}

.about-title{
	color: $about-text;
	width: 347px;
	font-weight: bold;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 5px;
	background-color: $about-bg;
}

.archive-work {
		.image img{
		width: 347px !important;
		height: 207px !important;
	}
}

/*/////////// page-faq ////////////*/
.faq-content-list{
	.faq-content-row{				
		.question{
			background : transparent url("../img/content/faq_content_q_bg.jpg") no-repeat 0 0 scroll;
			line-height: 50px;
			padding-left : 60px;
			font-size: 16px;
			font-weight: bold;
			color: $about-text;
		}
		.answer{
			margin : 15px 15px;
			background : transparent url("../img/content/faq_content_a_bg.jpg") no-repeat 0 0 scroll;
			line-height: 1.5em;			
			padding : 0px 45px;
			min-height: 34px;
		}
	}
}

/*/////////// page-reliable ////////////*/
p.reliable-info{
	margin: 15px 30px 0 20px; 
	background : transparent url("../img/content/reliable_icon_helmet.jpg") no-repeat 5 0 scroll;
	padding-left: 45px;
	line-height: 37px;
	border-bottom: 1px solid #bebebe;
	font-size: 20px;
	span.reliable-text-green{
		color: #59b118;
		font-size: 30px;		
	}
	span.reliable-text-red{
		color: #e5370d;
		font-size: 30px;		
	}
}
p.reliable-info:first-child{
	margin-top: none;
}

.reliable-left{
	.text{
		float : left;		
	}
	.image{
		float : right;
		margin-left: 18px;
	}
}/* end reliable-left */	

.reliable-358{
	.text{
		width: 380px;
	}
	.image{
		width: 358px;
	}
}/* end reliable-358 */

/*/////////// page-voice ////////////*/
.voice-post{
	margin-top: 20px;
	background : transparent url("../img/content/voice_content_bg.jpg") repeat 0 0 scroll;	
	padding: 25px;
	-moz-box-shadow: inset 0 0 5px #bbb;
	-webkit-box-shadow: inset 0 0 5px #bbb;
	box-shadow: inner 0 0 5px #bbb;
	.voice-post-title{
		border-bottom: 1px solid #bbb;
		padding-bottom: 15x;
		height: 35px;
		.text-left{
			float: left;
			width: 255px;			
			font :{
				size: 30px;
				weight: bold;
			}			
		}
		.text-right{
			text-align: right;
			font :{
				size: 20px;
				weight: bold;
			}
		}	

	}
	img{
		padding: 15px 0;
	}		
	p.voice-title{
		background : transparent url("../img/content/voice_content_icon.jpg") no-repeat 0 0 scroll;	
		padding-left: 45px;		
		font-weight: bold;	
		line-height: 35px;
		margin: 10px 0;
	}
	.voice-text{
		background-color: #fff;
		padding: 20px;		
	}		
}

.voice-page{
	text-align: center;
	span.current {		
		border: 1px solid #59b118 !important;
		background-color: #59b118;
		color: #fff;
	}
	span.pages{
		border: 1px solid #59b118 !important;
		color: #59b118;
	}
	.larger{
		border: 1px solid #59b118 !important;
		color: #59b118;
	}
	.nextpostslink{
		border: 1px solid #59b118 !important;
		color: #59b118;
	}
}

/*/////////// page-flow ////////////*/
h3.flow-title{
	background : transparent url("../img/content/flow_content_bg.jpg") no-repeat 0 0 scroll;
	color: #fff;
	line-height: 45px;
	padding-left: 20px;	
	font :{
		size: 22px;
		weight: bold;
	}		
}
	
.flow-content{
	border: 1px solid #bbb;
	border-top: none;	
	padding: 20px;	
	position: relative;
	margin-bottom: 40px;
	.flow-content-tel{
		padding: 30px 15px 0 30px;
	}
	.flow-content-contact{
		position: absolute;
		bottom: 22px;
		float: right;
		right: 65px;
	}
	.flow-225{	
		.text{
			width: 470px;
			word-wrap:break-word;
		}
		.image{
			width: 225px;
		}
	}

	.flow-left{
		.text{
			float : left;
			word-wrap:break-word;
		}
		.image{
			float : right;
			margin-left: 20px;
		}
	}

	.flow-arrow{
		position: absolute;
		height: 32px;	
		bottom : -45px;
		left: 300px;
	}
}

/*////////////////archive-work//////////////*/
	.work-category{
		color: $about-text;
		font-weight: bold;
		float: left;
		width: 255px;
	}
	.work-date{
		text-align: right;
	}	

/*////////////////single-work//////////////*/
#work-detail-navi {    
  background: url("../img/content/work_detail_navi_bg.jpg") repeat 0 0 scroll; 
  display:block; 
  margin: 15px 0;  
  }
  #work-detail-navi .work-detail-navi {
    width:760px;
    margin: 0px;
    padding: 0px;
    list-style: none; }
  #work-detail-navi .work-detail-navi li {
	width: 152px;
    float: left;
    background: url("../img/content/work_detail_space.jpg") no-repeat 0 0 scroll; 
	}
  #work-detail-navi .work-detail-navi li:first-child {    
		background: none;
	}
  #work-detail-navi .work-detail-navi li a {
	line-height: 60px;  
	font-weight:bold;
	text-align: center;
    color: #fff;
    display: block;	
    } 
 #work-detail-navi .work-detail-navi li a:hover {
    background: url("../img/content/work_detail_navi_hover.jpg") repeat 0 0 scroll; 
    color: #fff;
    }
/* end work-detail-navi */
.work-detail-content{
	padding: 20px;	
	border: 1px solid #e3e3e3;
	.work-title{
		border-bottom: 2px solid #59b118;
		padding-bottom: 10px;
		.work-title{
			color: $about-text;
			font-weight: bold;
			float: left;
			width: 380px;
		}
		.work-date{
			text-align: right;
		}	
	}
	
	table.work-table-image{
		margin: 10px 0;
		border-width : 0;
		border-style : none;				
		tr{			
			th,td.work-table-detail{
				padding: 0;
				border : none;
			}
			th,td.work-table-detail-arrow{
				padding: 0 10px;	
				border: none;
			}
			th,td.work-table-detail img{
				width: 347px;
				height: 207px;
			}
		}
	}
	.work-text{
		padding-top: 20px;
		.work-table-text{
			width: 380px;
			float: left;
			th.work-table-title{
				background-color: #e3f4d6;						
			}
		}
		.work-detail-info{
			width: 330px;
			float: right;			
		}
	}
}


.work-prev-text a{	
		text-indent: -9999px;		
		background: url("../img/content/work_detail_prev.jpg") no-repeat center 0 scroll; 
		text-align: center;
		height: 53px;
		display: block;
		margin: 0px 244px;
	}






