@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #3e8622;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #68ce40; }

a:link {
  color: #434343; }

a:visited {
  color: #434343; }

a:hover {
  color: #59b218; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #434343;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: #fffff8 none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
#wrapper {
  min-width: 1090px; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 10px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #E3E3E3; }

/*////// message //////*/
.message-group .message-row {
  margin-top: 20px;
  /* mesage-col */ }
  .message-group .message-row .message-col {
    float: left; }
    .message-group .message-row .message-col .image img {
      max-width: 100%;
      height: auto; }
  .message-group .message-row .message-col:first-child {
    margin-left: 0px; }
  .message-group .message-row .message-col370 {
    width: 370px;
    margin-left: 20px;
    border: 1px solid #c8c8c8;
    padding: 10px; }
  .message-group .message-row .message-col240 {
    width: 240px;
    margin-left: 20px; }
  .message-group .message-row .message-col190 {
    width: 190px;
    margin-left: 0px; }
  .message-group .message-row .message-col110 {
    width: 110px;
    margin-left: 20px; }
.message-group .message-row:first-child {
  margin-top: 0px; }

.message-right .text {
  float: right; }
.message-right .image {
  float: left;
  margin-right: 20px; }

.message-left .text {
  float: left; }
.message-left .image {
  float: right;
  margin-left: 20px; }

.message-280 .text {
  width: 460px; }
.message-280 .image {
  width: 280px; }

.message-340 .text {
  width: 400px; }
.message-340 .image {
  width: 340px; }

.message-360 .text {
  width: 380px; }
.message-360 .image {
  width: 360px; }

/*--------------------------------------------------------------
LIST
----------------------------------------------------------------*/
.list-fa-caret {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .list-fa-caret i.fa {
    margin-right: 5px; }

.list-inline li {
  float: left;
  margin-left: 10px; }
.list-inline li:first-child {
  margin-left: 0px; }

/*---------------------------------------------------------------
CUSTOM CSS
-----------------------------------------------------------------*/
#top {
  background: #3e8622 none no-repeat 0 0 scroll;
  color: #fff;
  line-height: 30px; }
  #top a {
    color: #fff; }
  #top a {
    line-height: 30px; }
  #top .top-text {
    float: left;
    font-size: 15px;
    padding-top: 7px; }
  #top .top-list {
    float: right;
    list-style: none;
    padding: 0px;
    margin: 0px; }
    #top .top-list i.fa {
      margin-right: 3px; }
    #top .top-list li {
      float: left;
      margin-left: 15px; }
      #top .top-list li a {
        display: block;
        text-decoration: underline; }
      #top .top-list li a:hover {
        text-decoration: none; }
    #top .top-list li:first-child {
      margin-left: 0px; }

/* end top */
header .header-content {
  margin: 20px 0px 15px; }
  header .header-content .logo {
    float: left;
    margin-left: 20px; }
  header .header-content .header-con {
    margin-left: 165px;
    float: left;
    margin-top: 20px; }
  header .header-content .header-tel {
    float: right; }

/* end header */
#content {
  background: transparent url("../img/common/content_bg.jpg") repeat 0 0 scroll; }

.content {
  position: relative;
  padding: 10px 0px 40px; }

/*//////// Sidebar commmon ////////////*/
/* begin sideMenu */
/* sideMenu.css */
#sideMenu h4 {
  background: #3e8622;
  color: #FFF;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase; }
#sideMenu .sideMenu {
  margin: 0px auto;
  background: transparent url("../img/common/sideMenu_bg.jpg") no-repeat 0 0 scroll;
  height: 300px;
  border: 1px solid #DDDDDD; }
  #sideMenu .sideMenu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    #sideMenu .sideMenu ul li a {
      background: transparent none no-repeat 0 0 scroll;
      padding-left: 15px;
      display: block;
      line-height: 30px;
      border-top: 1px dotted #DDDDDD;
      margin-left: 60px;
      padding-left: 20px; }
    #sideMenu .sideMenu ul li a:hover {
      color: #59b218; }
    #sideMenu .sideMenu ul li:first-child a {
      border-top: none; }

/* end sideMenu */
/* begin sideNav */
#sideNav h4 {
  background: #3e8622;
  color: #FFF;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase; }
#sideNav .sideNav {
  margin: 0px;
  padding: 5px;
  background-color: #0852a0; }
  #sideNav .sideNav ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    #sideNav .sideNav ul li {
      margin-top: 5px; }
      #sideNav .sideNav ul li a {
        padding-left: 30px;
        line-height: 40px;
        font-size: 14px;
        background-color: #FFF;
        border-left: 10px solid #3e8622;
        display: block;
        color: #434343;
        font-weight: bold; }
      #sideNav .sideNav ul li a:hover {
        border-color: #59b218; }
    #sideNav .sideNav ul li:first-child {
      margin-top: 0px; }

/* end sideNav */
footer {
  background: transparent url("../img/common/footer_bg.jpg") repeat 0 0 scroll;
  padding: 30px 0px 20px; }
  footer .footer-content .logo {
    float: left;
    margin-right: 95px; }
  footer .footer-content .tel {
    float: left; }
  footer .footer-content .con {
    float: right; }
  footer .footer-line {
    background: transparent url("../img/common/footer_line.jpg") no-repeat 0 0 scroll;
    height: 2px;
    margin: 25px 0px; }
  footer .footer-menu {
    margin-bottom: 50px; }
    footer .footer-menu ul {
      padding-right: 0px;
      padding-left: 90px;
      list-style: none; }
      footer .footer-menu ul .fa {
        color: #59b218;
        margin-right: 5px; }
    footer .footer-menu ul:first-child {
      padding-left: 0px; }

/*////// heading //////*/
.h2_title {
  font-size: 18px;
  line-height: 52px;
  padding-left: 52px;
  background: transparent url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
  margin-bottom: 15px; }

.message_content_title {
  color: #59b218;
  background: transparent url("../img/common/message_content_title.jpg") no-repeat 0 0 scroll;
  font-weight: bold;
  font-size: 18px;
  line-height: 52px;
  margin-bottom: 15px; }

.message_content_col_title {
  color: #59b218;
  background: transparent url("../img/common/message_content_col_title.jpg") no-repeat 0 0 scroll;
  font-weight: bold;
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 15px; }

/*/////////// common parts ////////////*/
/*/////////// globalNavi ////////////*/
.globalNavi-static {
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4; }
  .globalNavi-static .globalNavi-content ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .globalNavi-static .globalNavi-content ul li {
      float: left; }
      .globalNavi-static .globalNavi-content ul li a {
        display: block; }

.globalNavi-dynamic {
  background: #3e8622 none no-repeat 0 0 scroll; }
  .globalNavi-dynamic .globalNavi-content ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .globalNavi-dynamic .globalNavi-content ul li {
      float: left; }
      .globalNavi-dynamic .globalNavi-content ul li a {
        color: #fff;
        display: block;
        margin: 5px 30px;
        padding: 5px 0px; }
        .globalNavi-dynamic .globalNavi-content ul li a span {
          display: block;
          text-align: center; }
      .globalNavi-dynamic .globalNavi-content ul li a:hover {
        background-color: #59b218;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }

/*/////////// feature ////////////*/
#feature {
  position: relative;
  margin-bottom: 80px; }
  #feature .headerbtn {
    width: 100%;
    position: absolute;
    bottom: -70px; }
    #feature .headerbtn .headerbtn-content {
      padding: 10px;
      background-color: #7CC148; }
      #feature .headerbtn .headerbtn-content ul {
        list-style: none;
        padding: 0px;
        margin: 0px; }
        #feature .headerbtn .headerbtn-content ul li {
          float: left;
          margin: 0px 3px; }
          #feature .headerbtn .headerbtn-content ul li a {
            display: block; }
            #feature .headerbtn .headerbtn-content ul li a img {
              width: 200px;
              height: 70px; }

.dark-tooltip {
  width: 200px; }

#page-feature {
  background: transparent url("../img/common/page_feature_bg.jpg") repeat 0 0 scroll;
  padding-bottom: 2px; }
  #page-feature .page-feature-content {
    padding: 20px 0px 10px 25px;
    position: relative; }
    #page-feature .page-feature-content .title {
      line-height: 162px;
      left: 200px;
      top: 0px;
      position: absolute; }

#breadcrumb {
  background: transparent url("../img/common/breadcrumb_bg.jpg") repeat-x 0 0 scroll;
  height: 34px;
  line-height: 34px;
  padding-left: 145px; }
  #breadcrumb a.home {
    text-decoration: underline;
    color: #59b118; }

/*/////////// maintop ////////////*/
#maintop {
  padding: 15px 0px; }
  #maintop p {
    margin-top: 20px; }
  #maintop p:first-child {
    margin-top: 0px; }

#mainslide {
  background: transparent url("../img/top/mainslide_bg.jpg") repeat-x 0 0 scroll;
  padding: 15px 0px 20px; }
  #mainslide .mainslide-content .bx-wrapper {
    margin: 0px auto; }
    #mainslide .mainslide-content .bx-wrapper img {
      height: 350px; }
  #mainslide .mainslide-content .bx-viewport {
    left: 0px;
    box-shadow: none;
    /*border : none;*/ }
  #mainslide .mainslide-content .bx-pager {
    display: none; }
  #mainslide .mainslide-content #bx-pager {
    text-align: center;
    background: #3e8622 none no-repeat 0 0 scroll;
    padding: 10px 0px; }
    #mainslide .mainslide-content #bx-pager a {
      margin: 0px 3px; }
      #mainslide .mainslide-content #bx-pager a img {
        width: 200px;
        height: 70px; }
  #mainslide .mainslide-content .bx-controls-direction .bx-prev {
    position: absolute;
    left: -64px; }
  #mainslide .mainslide-content .bx-controls-direction .bx-next {
    position: absolute;
    right: -64px; }

/*/////////// side-con ////////////*/
.side-con {
  position: relative; }
  .side-con .side-con-btn {
    position: absolute;
    bottom: 10px;
    left: 10px; }

/*/////////// sideNavi ////////////*/
#sideNavi {
  background: #009ace url("../img/common/sideNavi_bg.jpg") no-repeat 0 0 scroll;
  padding: 48px 10px 10px 10px; }
  #sideNavi ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    #sideNavi ul li {
      margin-top: 10px; }
      #sideNavi ul li a {
        display: block; }
        #sideNavi ul li a img {
          max-width: 100%;
          height: auto; }
    #sideNavi ul li:first-child {
      margin-top: 0px; }

/*/////////// sideNavi ////////////*/
#sideMenu ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }
  #sideMenu ul li {
    border-top: 1px dotted #0852a0; }
    #sideMenu ul li a {
      line-height: 40px;
      display: block; }
      #sideMenu ul li a i.fa {
        margin-right: 15px;
        margin-left: 10px; }
    #sideMenu ul li a:hover {
      text-decoration: underline;
      color: #59b218; }
  #sideMenu ul li:first-child {
    border-top: 0px; }

/*/////////// part-area ////////////*/
.region ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.region > ul {
  padding: 10px; }

.region > ul > li > span {
  font-weight: bold; }

.region > ul > li > ul > li > span {
  padding-left: 10px; }

.region ul.region_post_list li {
  display: inline;
  padding-right: 10px; }

.region .region-category {
  margin-bottom: 10px; }
  .region .region-category > span {
    margin-bottom: 5px;
    font-weight: bold;
    color: #59b218; }
.region a:hover {
  text-decoration: underline;
  color: #59b218; }

/* message : title, image, caption, link */
.top-message-classic .message-col {
  padding-right: 3px; }
  .top-message-classic .message-col .image {
    text-align: center; }
  .top-message-classic .message-col .title {
    color: #59b218;
    background: transparent url("../img/common/message_content_col_title.jpg") no-repeat right 1px scroll;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    margin: 10px 0px 5px;
    border-bottom: 2px solid #E3E3E3; }
  .top-message-classic .message-col .caption {
    text-align: justify;
    padding: 10px 0px 15px;
    height: 9em;
    line-height: 1.5em; }
  .top-message-classic .message-col .title, .top-message-classic .message-col .caption {
    word-wrap: break-word; }
  .top-message-classic .message-col .link {
    text-align: right; }

/*/////////// part-contact ////////////*/
.part-contact {
  position: relative; }
  .part-contact .part-contact-btn {
    position: absolute;
    left: 10px;
    bottom: 10px; }

/*/////////// index ////////////*/
#top_content1 {
  position: relative; }
  #top_content1 .text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 120px;
    padding: 30px; }

/*////////// top-custom-post-work ///////////*/
.top-custom-post-works {
  width: 100%;
  border: none; }
  .top-custom-post-works i.fa {
    color: #59b218; }
  .top-custom-post-works td {
    padding: 10px 3px;
    border: none;
    border-bottom: 1px dotted #A8A8A8; }
  .top-custom-post-works .category a {
    background-color: #59b218;
    color: #fff;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

/*////////// company ///////////*/
.company_table tr th {
  background-color: #F5F0E8;
  color: #59b218; }

/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }

/*//////// page-business /////////*/
.business-right .text {
  float: right; }
.business-right .image {
  float: left;
  margin-right: 18px; }

/* end business-right */
.business-241 .text {
  width: 500px; }
.business-241 .image {
  width: 241px; }

/* end business-241 */
/*//////// page-about /////////*/
.about-info {
  background-color: #e3f4d6;
  padding: 10px 0 10px 10px;
  color: #215100;
  margin: 20px 0;
  font-weight: bold; }

.about-left .text {
  float: left; }
.about-left .image {
  float: right;
  margin: 15px 0 0 20px; }

/* end about-left */
.about-280 .text {
  width: 460px; }
  .about-280 .text p.about-text {
    background-color: #e3f4d6;
    color: #215100;
    padding: 25px 35px 25px 25px;
    margin: 10px 25px 10px 0;
    font-weight: bold; }
.about-280 .image {
  width: 280px; }

/* end about-280 */
.about-text-bottom {
  color: #59b118;
  text-align: center;
  font-weight: bold;
  font-size: 18px; }

.about-title {
  color: #215100;
  width: 347px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: #e3f4d6; }

.archive-work .image img {
  width: 347px !important;
  height: 207px !important; }

/*/////////// page-faq ////////////*/
.faq-content-list .faq-content-row .question {
  background: transparent url("../img/content/faq_content_q_bg.jpg") no-repeat 0 0 scroll;
  line-height: 50px;
  padding-left: 60px;
  font-size: 16px;
  font-weight: bold;
  color: #215100; }
.faq-content-list .faq-content-row .answer {
  margin: 15px 15px;
  background: transparent url("../img/content/faq_content_a_bg.jpg") no-repeat 0 0 scroll;
  line-height: 1.5em;
  padding: 0px 45px;
  min-height: 34px; }

/*/////////// page-reliable ////////////*/
p.reliable-info {
  margin: 15px 30px 0 20px;
  background: transparent url("../img/content/reliable_icon_helmet.jpg") no-repeat 5 0 scroll;
  padding-left: 45px;
  line-height: 37px;
  border-bottom: 1px solid #bebebe;
  font-size: 20px; }
  p.reliable-info span.reliable-text-green {
    color: #59b118;
    font-size: 30px; }
  p.reliable-info span.reliable-text-red {
    color: #e5370d;
    font-size: 30px; }

p.reliable-info:first-child {
  margin-top: none; }

.reliable-left .text {
  float: left; }
.reliable-left .image {
  float: right;
  margin-left: 18px; }

/* end reliable-left */
.reliable-358 .text {
  width: 380px; }
.reliable-358 .image {
  width: 358px; }

/* end reliable-358 */
/*/////////// page-voice ////////////*/
.voice-post {
  margin-top: 20px;
  background: transparent url("../img/content/voice_content_bg.jpg") repeat 0 0 scroll;
  padding: 25px;
  -moz-box-shadow: inset 0 0 5px #bbb;
  -webkit-box-shadow: inset 0 0 5px #bbb;
  box-shadow: inner 0 0 5px #bbb; }
  .voice-post .voice-post-title {
    border-bottom: 1px solid #bbb;
    padding-bottom: 15x;
    height: 35px; }
    .voice-post .voice-post-title .text-left {
      float: left;
      width: 255px;
      font-size: 30px;
      font-weight: bold; }
    .voice-post .voice-post-title .text-right {
      text-align: right;
      font-size: 20px;
      font-weight: bold; }
  .voice-post img {
    padding: 15px 0; }
  .voice-post p.voice-title {
    background: transparent url("../img/content/voice_content_icon.jpg") no-repeat 0 0 scroll;
    padding-left: 45px;
    font-weight: bold;
    line-height: 35px;
    margin: 10px 0; }
  .voice-post .voice-text {
    background-color: #fff;
    padding: 20px; }

.voice-page {
  text-align: center; }
  .voice-page span.current {
    border: 1px solid #59b118 !important;
    background-color: #59b118;
    color: #fff; }
  .voice-page span.pages {
    border: 1px solid #59b118 !important;
    color: #59b118; }
  .voice-page .larger {
    border: 1px solid #59b118 !important;
    color: #59b118; }
  .voice-page .nextpostslink {
    border: 1px solid #59b118 !important;
    color: #59b118; }

/*/////////// page-flow ////////////*/
h3.flow-title {
  background: transparent url("../img/content/flow_content_bg.jpg") no-repeat 0 0 scroll;
  color: #fff;
  line-height: 45px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: bold; }

.flow-content {
  border: 1px solid #bbb;
  border-top: none;
  padding: 20px;
  position: relative;
  margin-bottom: 40px; }
  .flow-content .flow-content-tel {
    padding: 30px 15px 0 30px; }
  .flow-content .flow-content-contact {
    position: absolute;
    bottom: 22px;
    float: right;
    right: 65px; }
  .flow-content .flow-225 .text {
    width: 470px;
    word-wrap: break-word; }
  .flow-content .flow-225 .image {
    width: 225px; }
  .flow-content .flow-left .text {
    float: left;
    word-wrap: break-word; }
  .flow-content .flow-left .image {
    float: right;
    margin-left: 20px; }
  .flow-content .flow-arrow {
    position: absolute;
    height: 32px;
    bottom: -45px;
    left: 300px; }

/*////////////////archive-work//////////////*/
.work-category {
  color: #215100;
  font-weight: bold;
  float: left;
  width: 255px; }

.work-date {
  text-align: right; }

/*////////////////single-work//////////////*/
#work-detail-navi {
  background: url("../img/content/work_detail_navi_bg.jpg") repeat 0 0 scroll;
  display: block;
  margin: 15px 0; }

#work-detail-navi .work-detail-navi {
  width: 760px;
  margin: 0px;
  padding: 0px;
  list-style: none; }

#work-detail-navi .work-detail-navi li {
  width: 152px;
  float: left;
  background: url("../img/content/work_detail_space.jpg") no-repeat 0 0 scroll; }

#work-detail-navi .work-detail-navi li:first-child {
  background: none; }

#work-detail-navi .work-detail-navi li a {
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  display: block; }

#work-detail-navi .work-detail-navi li a:hover {
  background: url("../img/content/work_detail_navi_hover.jpg") repeat 0 0 scroll;
  color: #fff; }

/* end work-detail-navi */
.work-detail-content {
  padding: 20px;
  border: 1px solid #e3e3e3; }
  .work-detail-content .work-title {
    border-bottom: 2px solid #59b118;
    padding-bottom: 10px; }
    .work-detail-content .work-title .work-title {
      color: #215100;
      font-weight: bold;
      float: left;
      width: 380px; }
    .work-detail-content .work-title .work-date {
      text-align: right; }
  .work-detail-content table.work-table-image {
    margin: 10px 0;
    border-width: 0;
    border-style: none; }
    .work-detail-content table.work-table-image tr th, .work-detail-content table.work-table-image tr td.work-table-detail {
      padding: 0;
      border: none; }
    .work-detail-content table.work-table-image tr th, .work-detail-content table.work-table-image tr td.work-table-detail-arrow {
      padding: 0 10px;
      border: none; }
    .work-detail-content table.work-table-image tr th, .work-detail-content table.work-table-image tr td.work-table-detail img {
      width: 347px;
      height: 207px; }
  .work-detail-content .work-text {
    padding-top: 20px; }
    .work-detail-content .work-text .work-table-text {
      width: 380px;
      float: left; }
      .work-detail-content .work-text .work-table-text th.work-table-title {
        background-color: #e3f4d6; }
    .work-detail-content .work-text .work-detail-info {
      width: 330px;
      float: right; }

.work-prev-text a {
  text-indent: -9999px;
  background: url("../img/content/work_detail_prev.jpg") no-repeat center 0 scroll;
  text-align: center;
  height: 53px;
  display: block;
  margin: 0px 244px; }
